input {
    padding: .5em;
    width: 150px;
    background: #934a4a;
    border: 1px solid;
  }
  button {
    padding: .5em;
    width: 75px;
  }

  table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
    
  }
    th {
    background-color: rgb(238, 198, 198);
  }
  tr:nth-child(odd){ 
    background-color: #af7878;
  }
  tr:nth-child(even){
    background-color: #a0c926;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  #h3-right {
    text-align: right;
    background-color: #a0c926;
  }
  body {
    background-image: url(https://thumbs.dreamstime.com/z/happy-business-woman-money-rain-against-white-background-digital-composite-96239531.jpg?ct=jpeg);
  }