input {
    padding: .5em;
    width: 150px;
    background: #ab8989;
    border: 1px solid;
  }
  button {
    padding: .5em;
    width: 75px;
  }

  table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }